@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ssg-point-primary: #000;
  --ssg-point-secondary: #fff;
  --ssg-point-tertiary: #f5f5f5;

  --ssg-point-primary-gradient: linear-gradient(126deg, #F40000 0%, #E6772A 7.29%, #EE9C38 17.71%, #EDAE3D 53.36%, #E78A41 65.63%, #A460C4 79.52%, #9C6BC2 88.98%, #71A2B9 96.55%);
}

@media (prefers-color-scheme: dark) {
  :root {
   /* dark mode */
  }
}
* {
  box-sizing: border-box;
}

body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, button, input, textarea, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

.header_bottom li {
  position: relative; /*상대적인 위치 설정*/
}
.header_bottom li.active a::after {
  content: "";
  position: absolute; /*절대적인 위치 설정*/
  left: 50%;  /*왼쪽으로 50%*/
  transform: translateX(-50%); /*가운데 정렬을 위해서 사용*/
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--ssg-point-primary);
  animation: slideUp 0.3s ease-in-out forwards; /* 위로 올라가고 forward로 고정*/
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -0.5rem;
  }
}

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--ssg-point-secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-bottom: 0;
}

.slider_wrap ul {
  overflow-x: scroll;
}

.slider_wrap ul li {
  display: inline;
}